<div class="row">
  <div class="col-sm-12">
    <h1>Add New Vehicle</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-init="scope=addVehicle" ng-submit="scope.vehicleAdd(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="scope.vehicle.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>   

      <div class="form-group">
        <label>Make Default Vehicle</label>
        <input type="checkbox" name="make_default" class="form-control" ng-model="scope.vehicle.makeDefault"/>
      </div>

      <p class="help-block"> {{ scope.message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Add Vehicle</button>
    </form>
  </div>
</div>
