
<div class="expander panel panel-default" ng-init="isCollapsed=true" ng-controller="VehicleShowCtrl">

  <!-- Add Mileage Entry Form -->
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
    <h3 class="panel-title">Add New Entry</h3>
  </div>
  <div class="panel-body" collapse="isCollapsed">
    <form role="form" class="form" ng-submit="newEntry(newEntryForm)" novalidate>
    
      <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="newEntryForm.date" ng-required="true" close-text="Close" />
      </div>

      <div class="form-group">
        <label>Odometer Reading</label>
        <input type="number" name="odometer" class="form-control" ng-model="newEntryForm.odometer" 
               min="0"
               step="1"
               required/>
      </div>

      <div class="form-group">
        <label>Gallons</label>
        <input type="number" name="gallons" class="form-control" ng-model="newEntryForm.gallons" 
               min="0"
               required/>
      </div>

      <div class="form-group">
        <label>Total Price</label>
        <input type="number" name="price" class="form-control" ng-model="newEntryForm.price" 
               min="0"
               step="0.01"
               required/>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Add Entry</button>
    </form>
  </div>

  <!-- Mileage Entry List -->
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Date</th>
      <th>Odometer</th>
      <th>Gallons</th>
      <th>Total Price</th>
    </tr>
    <tr ng-repeat="entry in entries">
      <td>{{ entry.date | date:'mediumDate' }}</td>
      <td>{{ entry.odometer | number:0 }}</td>
      <td>{{ entry.gallons | number:3 }}</td>
      <td>{{ entry.price | currency }}</td>
    </tr>
  </table>

</div>
