<div class="vehicleShow" ng-controller="VehicleShowCtrl">
  <div class="row">
    <div class="col-md-6">
      <div class="well text-center">
        <strong>Avg MPG</strong>
        <p>{{ (mpgAvg | number:1) || "N/A" }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well text-center">
        <strong>Avg $/Mile</strong>
        <p>{{ ($pmAvg | currency) || "N/A" }}</p>
      </div>
    </div>
  </div>
  <div class="expander panel panel-default" ng-init="isCollapsed=true">

    <!-- Add Mileage Entry Form -->
    <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
      <h3 class="panel-title">Add New Entry</h3>
    </div>
    <div class="panel-body" collapse="isCollapsed">
      <form role="form" class="form" ng-submit="newEntry(newEntryForm)" novalidate>
    
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="newEntryForm.date"
                ng-required="true"
                close-text="Close"/>
        </div>

        <div class="form-group">
          <label>Odometer Reading</label>
          <input type="number" name="odometer" class="form-control" ng-model="newEntryForm.odometer" 
                min="0"
                step="1"
                placeholder="e.g. 202833"
                required/>
        </div>

        <div class="form-group">
          <label>Gallons</label>
          <input type="number" name="gallons" class="form-control" ng-model="newEntryForm.gallons" 
                min="0"
                placeholder="e.g. 12.473"
                required/>
        </div>

        <div class="form-group">
          <label>Total Price</label>
          <input type="number" name="price" class="form-control" ng-model="newEntryForm.price" 
                min="0"
                step="0.01"
                placeholder="e.g. 47.54"
                required/>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Add Entry</button>
      </form>
    </div>

    <!-- Mileage Entry List -->
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Date</th>
        <th>Odometer</th>
        <th>Trip</th>
        <th>Gallons</th>
        <th>Total Price</th>
        <th>MPG</th>
      </tr>
      <tr ng-repeat="entry in entries">
        <td>{{ entry.date | date:'mediumDate' }}</td>
        <td>{{ entry.odometer | number:0 }}</td>
        <td>{{ entry.trip | number:0 }}</td>
        <td>{{ entry.gallons | number:3 }}</td>
        <td>{{ entry.price | currency }}</td>
        <td>{{ entry.mpg | number:1 }}</td>
      </tr>
    </table>

  </div>
</div>
