
<div class="row">
  <h1>{{vehicle.name}}</h1>
</div>

<div class="row expander panel panel-default">
  <div class="panel-heading" ng-click="formVisible = !formVisible">
    <h3 class="panel-title">Add New Entry</h3>
  </div>
  <div class="panel-body" ng-show="formVisible">
    <form role="form" class="form" ng-submit="newEntry(form)" novalidate>
    
      <div class="form-group">
        <label>Date Time</label>
        <input type="datetime-local" name="date" class="form-control" ng-model="newEntryForm.date"/>    
      </div>

      <div class="form-group">
        <label>Odometer Reading</label>
        <input type="number" name="odometer" class="form-control" ng-model="newEntryForm.odometer" 
               min="0"
               step="1"
               required/>
      </div>

      <div class="form-group">
        <label>Gallons</label>
        <input type="number" name="gallons" class="form-control" ng-model="newEntryForm.gallons" 
               min="0"
               required/>
      </div>

      <div class="form-group">
        <label>Total Price</label>
        <input type="number" name="price" class="form-control" ng-model="newEntryForm.price" 
               min="0"
               step="0.01"
               required/>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Add Entry</button>
    </form>
  </div>

  <hr>

  <table class="table">
    <tr>
      <th>Date</th>
      <th>Odometer</th>
      <th>Total Price</th>
    </tr>
    <tr ng-repeat="entry in entries">
      <td>{{entry.date | date:'short'}}</td>
      <td>{{entry.odometer}}</td>
      <td>{{entry.price}}</td>
    </tr>
  </table>
</div>
